# Dépendances
/node_modules
/.pnp
.pnp.js

# Builds Next.js
/.next
/out

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example   # garder uniquement l’exemple

# VSCode / IDE
.vscode/
.idea/

# Typescript
*.tsbuildinfo

# Coverage & tests
/coverage
/jest-*

# Runtime
dist
*.log

# Drizzle migrations et snapshots
drizzle/*.sqlite
drizzle/*.db
drizzle/migrations/*-journal.json
drizzle/migrations/*-journal.txt
drizzle/*.sql
drizzle/*_snapshot.json
drizzle/*_journal.json

# Cache
.next/cache
.cache
turbo
